<section class="customer-page section-band">
  <div class="page-width customer-auth">
    <div class="section-heading">
      <p class="eyebrow">{{ shop.name }}</p>
      <h1>Reset password</h1>
    </div>
    {%- form 'reset_customer_password', class: 'customer-form' -%}
      {{ form.errors | default_errors }}
      <label>
        <span>{{ 'customer.login.password' | t }}</span>
        <input class="field__input" type="password" name="customer[password]" autocomplete="new-password" required>
      </label>
      <label>
        <span>Confirm password</span>
        <input class="field__input" type="password" name="customer[password_confirmation]" autocomplete="new-password" required>
      </label>
      <button class="button" type="submit">Reset password</button>
    {%- endform -%}
  </div>
</section>
